<div class="container p-4">

    <h4>Contacto</h4>
    <br>
    <div class="d-inline p-2">
        <button class="btn btn-success"><i class="bi bi-whatsapp"></i></button>
    </div>
    <div class="d-inline p-2">
        <span>{{tel}}</span>
    </div>
    <br><br>

    <div>
        <div class="d-inline p-2">
            <button class="btn btn-primary"><i class="bi bi-envelope"></i></button>
        </div>
        <div class="d-inline p-2">
            <span><i class="text-primary">{{email}}</i></span>
        </div>
    </div>

    <div class="row" style="height: 300px;"></div>

</div>