<div class="container p-4">

    <div class="card">
        <div class="card-body">
            <div>Contáctame</div>
            <br>
            <div class="d-inline p-2">
                <button class="btn btn-success"><i class="bi bi-whatsapp"></i></button>
            </div>
            <div class="d-inline p-2">
                <span>{{tel}}</span>
            </div>

            <br><br>

            <div>
                <div class="d-inline p-2">
                    <button class="btn btn-primary"><i class="bi bi-envelope"></i></button>
                </div>
                <div class="d-inline p-2">
                    <span><i class="text-primary">{{email}}</i></span>
                </div>
            </div>
            
        </div>
    </div>

</div>