<div class="container py-4">

    <h4 class="text-primary">Lista de Productos</h4>
    <div class="table-responsive">
        <table class="table table-bordered table-hover" id="miTabla">
          <thead>
            <tr>
              <th>ID</th>
              <th>Titulo</th>
              <th>Descripcion</th>
              <th>Nombre de Archivo</th>
              <th>Precio</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let prod of product; let i=index" (click)="getID(i);" [ngClass]="{'table-active table-primary': i===indexSeleccionado}">
              <td>{{i}}</td>
              <td>{{prod.title}}</td>
              <td>{{prod.description}}</td>
              <td>{{prod.fileName}}</td>
              <td>{{prod.price}}</td>
            </tr>
          </tbody>
        </table>
        <span *ngIf="existenciaProductos">No hay productos registrados</span>

        <br><br>
        <hr>
        <br>
        <div>
            <a class="btn btn-outline-primary" href="/ingresar"><i class="bi bi-plus-circle"></i> Ingresar</a>
            <a class="btn btn-outline-success" [routerLink]="obtenerRutaActualizar()" (click)="verificarEleccionActualizar()">
                <i class="bi bi-pencil"></i> Actualizar
            </a>
            <a class="btn btn-outline-danger" (click)="verificarEleccionBorrar()">
                <i class="bi bi-trash"></i> Borrar
            </a>
        </div>
    </div>

    <div style="height: 200px;"></div>

</div>