<div class="container p-4">
    <div class="card">
        <div class="card-body">

            <h4 class="text-primary">Actualización de Producto</h4>
            <br>
            <form #formIngresar="ngForm" (ngSubmit)="actualizar(formIngresar)">
                
                <div class="mb-3">
                    <label for="title" class="form-label">Titulo</label>
                    <input type="text" name="title" class="form-control" id="title" required ngModel [ngModel]="titleActual">
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Descripcion</label>
                    <textarea name="description" id="description" class="form-control" required ngModel [ngModel]="descriptionActual" cols="30" rows="10"></textarea>
                </div>
                <div class="mb-3">
                    <label for="fileName" class="form-label">Nombre de Archivo</label>
                    <input type="text" name="fileName" class="form-control" id="fileName" required ngModel [ngModel]="fileNameActual">
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Precio</label>
                    <input type="number" name="price" class="form-control" id="price" required ngModel [ngModel]="priceActual">
                </div>
                <br>

                <div class="btn-group mb-3">
                    <button type="submit" class="btn btn-outline-primary" [disabled]="!formIngresar.form.valid"><i class="bi bi-check-circle"></i> Actualizar</button>
                    <button type="button" class="btn btn-outline-danger" (click)="iraHome()"><i class="bi bi-x-circle"></i> Cancelar</button>
                </div>

            </form>

        </div>
    </div>
</div>