<div class="container py-4">

    <h4>Pagina principal</h4>
    <br>

</div>

<div class="container p-4">

    <div id="jp-carousel" class="carousel slide" data-bs-ride="carousel">

        <div class="carousel-indicators">
            <button class="active" data-bs-target="#jp-carousel" data-bs-slide-to="0"></button>
            <button data-bs-target="#jp-carousel" data-bs-slide-to="1"></button>
            <button data-bs-target="#jp-carousel" data-bs-slide-to="2"></button>
        </div>

        <div class="carousel-inner carousel-fade">

          <div class="carousel-item active" data-bs-interval="2000">
            <img src="./assets/paisajes/imag1.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Primera imagen</h5>
                <p>esta es la descripcion de la primera imagen</p>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="./assets/paisajes/imag2.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Segunda imagen</h5>
                <p>esta es la descripcion de la segunda imagen</p>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="./assets/paisajes/imag3.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Tercera imagen</h5>
                <p>esta es la descripcion de la tercera imagen</p>
            </div>
          </div>

        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#jp-carousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#jp-carousel" data-bs-slide="next">
          <span class="carousel-control-next-icon"></span>
        </button>

    </div>

</div>